<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Список концертов</title>
    <link rel="stylesheet" th:href="@{/static/CSS/styles.css}">
</head>
<body>
<h1>Список концертов</h1>
<table>
    <thead>
    <tr>
        <th>ID</th>
        <th>Название</th>
        <th>Дата и время</th>
        <th>Местоположение</th>
        <th>Действия</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="concert : ${concerts}">
        <td th:text="${concert.id}"></td>
        <td th:text="${concert.name}"></td>
        <td th:text="${concert.dateTime}"></td>
        <td th:text="${concert.location}"></td>
        <td>
            <a th:href="@{'/organizer/concert/' + ${concert.id}}">Редактировать</a>
            <form th:action="@{'/organizer/concert/' + ${concert.id} + '/delete'}" method="post" style="display:inline;">
                <button type="submit">Удалить</button>
            </form>
        </td>
    </tr>
    </tbody>
</table>
<a href="/organizer/newConcert">Добавить новый концерт</a>
</body>
</html>
