<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Редактировать исполнителя</title>
    <link rel="stylesheet" th:href="@{/CSS/admin_styles.css}">
</head>
<body>
<div class="container">
    <h1>Редактировать исполнителя</h1>
    <form th:action="@{/admin/performers/update/{id}(id=${performer.id})}" th:object="${performer}" method="post">
        <label for="name">Имя исполнителя:</label>
        <input type="text" id="name" name="name" th:field="*{name}" required/>

        <label for="genre">Жанр:</label>
        <input type="text" id="genre" name="genre" th:field="*{genre}" required/>

        <button type="submit">Сохранить изменения</button>
    </form>
    <a href="/admin" class="back-button">Назад к панели администратора</a>
</div>
</body>
</html>
